In [59]:
import requests
import json
import pandas as pd
import datetime

url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1/1000/"  #1000개단위
response = requests.get(url)

bikeData1=(response.json()["rentBikeStatus"])["row"]

url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1001/2000/"  #1000개단위
response = requests.get(url)
bikeData2=(response.json()["rentBikeStatus"])["row"]

bikeData=bikeData1+bikeData2 #합침
type(bikeData)
df=pd.DataFrame(bikeData)
df["stationNumber"]=df.stationName.str.split('.').str[0]
#df=df.drop(["rackTotCnt","shared","stationId","stationName"],axis=1)  #필요없는 정보 drop
#num=105
#df=df[df["stationNumber"]==str(num)]
df

,rackTotCnt,stationName,parkingBikeTotCnt,shared,stationLatitude,stationLongitude,stationId,stationNumber
0,22,102. 망원역 1번출구 앞,3,0,37.55564880,126.91062927,ST-4,102
1,16,103. 망원역 2번출구 앞,5,0,37.55495071,126.91083527,ST-5,103
2,15,104. 합정역 1번출구 앞,6,0,37.55062866,126.91498566,ST-6,104
3,7,105. 합정역 5번출구 앞,1,0,37.55000687,126.91482544,ST-7,105
4,12,106. 합정역 7번출구 앞,3,0,37.54864502,126.91282654,ST-8,106
...,...,...,...,...,...,...,...,...
1905,10,3560.성동구 견인차량 보관소 앞,5,0,37.56370926,127.05644989,ST-2342,3560
1906,10,3561.행당동 삼부APT후문,0,0,37.55926895,127.03839874,ST-2343,3561
1907,10,3566.우성4차아파트,0,0,37.53507233,127.07611084,ST-2305,3566
1908,10,3575.자양사거리 (LG 유플러스),0,0,37.53657532,127.08258057,ST-2314,3575
1909,10,3577.신자초교 입구 교차로(SC제일은행),2,0,37.53338623,127.07556915,ST-2316,3577

In [114]:
url = "http://openapi.seoul.go.kr:8088/614969636b6a776a38316576544973/json/TimeAverageAirQuality/1/25/"
today=str(datetime.datetime.today().strftime("%Y%m%d%H")+"00/")  #한시간단위로 갱신
response=requests.get(url+today)
if "TimeAverageAirQuality" in response.json():
    airData=response.json()
else:  #현재 데이터가 없는경우 한시간 전 데이터 사용
    today=(datetime.datetime.today()-datetime.timedelta(hours=1)).strftime("%Y%m%d%H")+"00"
    response=requests.get(url+today)
    airData=response.json()

airData

{'TimeAverageAirQuality': {'list_total_count': 25,
  'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'},
  'row': [{'MSRDT': '202006161600',
    'MSRSTE_NM': '강남구',
    'NO2': 0.023,
    'O3': 0.123,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 52.0,
    'PM25': 35.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '강동구',
    'NO2': 0.018,
    'O3': 0.116,
    'CO': 0.5,
    'SO2': 0.004,
    'PM10': 53.0,
    'PM25': 36.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '강북구',
    'NO2': 0.024,
    'O3': 0.066,
    'CO': 0.5,
    'SO2': 0.002,
    'PM10': 55.0,
    'PM25': 35.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '강서구',
    'NO2': 0.014,
    'O3': 0.097,
    'CO': 0.5,
    'SO2': 0.004,
    'PM10': 53.0,
    'PM25': 36.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '관악구',
    'NO2': 0.022,
    'O3': 0.127,
    'CO': 0.6,
    'SO2': 0.004,
    'PM10': 64.0,
    'PM25': 40.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '광진구',
    'NO2': 0.017,
    'O3': 0.142,
    'CO': 0.6,
    'SO2': 0.003,
    'PM10': 53.0,
    'PM25': 37.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '구로구',
    'NO2': 0.015,
    'O3': 0.14,
    'CO': 0.3,
    'SO2': 0.003,
    'PM10': 72.0,
    'PM25': 39.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '금천구',
    'NO2': 0.021,
    'O3': 0.121,
    'CO': 0.6,
    'SO2': 0.004,
    'PM10': 68.0,
    'PM25': 49.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '노원구',
    'NO2': 0.0,
    'O3': 0.091,
    'CO': 0.0,
    'SO2': 0.0,
    'PM10': 0.0,
    'PM25': 0.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '도봉구',
    'NO2': 0.015,
    'O3': 0.099,
    'CO': 0.3,
    'SO2': 0.002,
    'PM10': 43.0,
    'PM25': 24.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '동대문구',
    'NO2': 0.018,
    'O3': 0.118,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 50.0,
    'PM25': 34.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '동작구',
    'NO2': 0.017,
    'O3': 0.109,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 65.0,
    'PM25': 40.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '마포구',
    'NO2': 0.018,
    'O3': 0.099,
    'CO': 0.5,
    'SO2': 0.002,
    'PM10': 51.0,
    'PM25': 33.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '서대문구',
    'NO2': 0.019,
    'O3': 0.117,
    'CO': 0.5,
    'SO2': 0.002,
    'PM10': 51.0,
    'PM25': 26.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '서초구',
    'NO2': 0.021,
    'O3': 0.128,
    'CO': 0.4,
    'SO2': 0.003,
    'PM10': 63.0,
    'PM25': 27.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '성동구',
    'NO2': 0.018,
    'O3': 0.115,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 51.0,
    'PM25': 38.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '성북구',
    'NO2': 0.027,
    'O3': 0.112,
    'CO': 0.6,
    'SO2': 0.002,
    'PM10': 61.0,
    'PM25': 39.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '송파구',
    'NO2': 0.021,
    'O3': 0.138,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 59.0,
    'PM25': 37.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '양천구',
    'NO2': 0.02,
    'O3': 0.12,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 52.0,
    'PM25': 30.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '영등포구',
    'NO2': 0.024,
    'O3': 0.111,
    'CO': 0.5,
    'SO2': 0.003,
    'PM10': 49.0,
    'PM25': 32.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '용산구',
    'NO2': 0.018,
    'O3': 0.103,
    'CO': 0.5,
    'SO2': 0.002,
    'PM10': 58.0,
    'PM25': 35.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '은평구',
    'NO2': 0.014,
    'O3': 0.121,
    'CO': 0.3,
    'SO2': 0.003,
    'PM10': 58.0,
    'PM25': 32.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '종로구',
    'NO2': 0.022,
    'O3': 0.094,
    'CO': 0.5,
    'SO2': 0.005,
    'PM10': 53.0,
    'PM25': 35.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '중구',
    'NO2': 0.021,
    'O3': 0.085,
    'CO': 0.5,
    'SO2': 0.004,
    'PM10': 47.0,
    'PM25': 34.0},
   {'MSRDT': '202006161600',
    'MSRSTE_NM': '중랑구',
    'NO2': 0.029,
    'O3': 0.111,
    'CO': 0.6,
    'SO2': 0.003,
    'PM10': 63.0,
    'PM25': 38.0}]}}

In [21]:
print(mapToGrid(float(df.loc[0]["stationLatitude"]),float(df.loc[0]["stationLongitude"])))

url = "http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?"  
servicekey="serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D"
pageNo="pageNo=1"
numOfRows="numOfRows=10"
dataType="dataType=JSON"
base_date="base_date=20200613"
base_time="base_time=2200"
nx="nx=38"
ny="ny=127"

url=url+servicekey+"&"+pageNo+"&"+numOfRows+"&"+dataType+"&"+base_date+"&"+base_time+"&"+nx+"&"+ny+"&"

response = requests.get(url)
print(url)
print(response)
df=pd.DataFrame(response.json()["response"]["body"]["items"]["item"])




df

(59, 126)
http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20200613&base_time=2200&nx=38&ny=127&
<Response [200]>

   baseDate baseTime category  nx   ny obsrValue
0  20200613     2200      PTY  38  127         0
1  20200613     2200      REH  38  127        79
2  20200613     2200      RN1  38  127         0
3  20200613     2200      T1H  38  127      19.5
4  20200613     2200      UUU  38  127         0
5  20200613     2200      VEC  38  127         0
6  20200613     2200      VVV  38  127         0
7  20200613     2200      WSD  38  127         0

In [1]:
import math
NX = 149            ## X축 격자점 수
NY = 253            ## Y축 격자점 수

Re = 6371.00877     ##  지도반경
grid = 5.0          ##  격자간격 (km)
slat1 = 30.0        ##  표준위도 1
slat2 = 60.0        ##  표준위도 2
olon = 126.0        ##  기준점 경도
olat = 38.0         ##  기준점 위도
xo = 210 / grid     ##  기준점 X좌표
yo = 675 / grid     ##  기준점 Y좌표
first = 0

if first == 0 :
    PI = math.asin(1.0) * 2.0
    DEGRAD = PI/ 180.0
    RADDEG = 180.0 / PI


    re = Re / grid
    slat1 = slat1 * DEGRAD
    slat2 = slat2 * DEGRAD
    olon = olon * DEGRAD
    olat = olat * DEGRAD

    sn = math.tan(PI * 0.25 + slat2 * 0.5) / math.tan(PI * 0.25 + slat1 * 0.5)
    sn = math.log(math.cos(slat1) / math.cos(slat2)) / math.log(sn)
    sf = math.tan(PI * 0.25 + slat1 * 0.5)
    sf = math.pow(sf, sn) * math.cos(slat1) / sn
    ro = math.tan(PI * 0.25 + olat * 0.5)
    ro = re * sf / math.pow(ro, sn)
    first = 1

def mapToGrid(lat, lon, code = 0 ):
    ra = math.tan(PI * 0.25 + lat * DEGRAD * 0.5)
    ra = re * sf / pow(ra, sn)
    theta = lon * DEGRAD - olon
    if theta > PI :
        theta -= 2.0 * PI
    if theta < -PI :
        theta += 2.0 * PI
    theta *= sn
    x = (ra * math.sin(theta)) + xo
    y = (ro - ra * math.cos(theta)) + yo
    x = int(x + 1.5)
    y = int(y + 1.5)
    return x, y

def gridToMap(x, y, code = 1):
    x = x - 1
    y = y - 1
    xn = x - xo
    yn = ro - y + yo
    ra = math.sqrt(xn * xn + yn * yn)
    if sn < 0.0 :
        ra = -ra
    alat = math.pow((re * sf / ra), (1.0 / sn))
    alat = 2.0 * math.atan(alat) - PI * 0.5
    if math.fabs(xn) <= 0.0 :
        theta = 0.0
    else :
        if math.fabs(yn) <= 0.0 :
            theta = PI * 0.5
            if xn < 0.0 :
                theta = -theta
        else :
            theta = math.atan2(xn, yn)
    alon = theta / sn + olon
    lat = alat * RADDEG
    lon = alon * RADDEG

    return lat, lon

print(mapToGrid(37.55000687, 126.91482544))

print(str(mapToGrid(37.55000687, 126.91482544)[1]))

#print(gridToMap(53, 38))

(59, 126)
126

In [97]:
url="https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?sourcecrs=epsg:4326&output=json&coords=126.91482544,37.55000687"
headers = {"X-NCP-APIGW-API-KEY-ID": "x70mm2ejza", "X-NCP-APIGW-API-KEY": "W81Ozyy4JsnFVOXsWlQALVuEzWQVscmKtpV2oBvF"} 
response = requests.get(url+remains,headers=headers)

response.json()["results"][0]["region"]["area2"]["name"]

'마포구'

In [18]:
import requests
import json
import pandas as pd
import datetime


import http.server
import socketserver


import math
NX = 149            ## X축 격자점 수
NY = 253            ## Y축 격자점 수

Re = 6371.00877     ##  지도반경
grid = 5.0          ##  격자간격 (km)
slat1 = 30.0        ##  표준위도 1
slat2 = 60.0        ##  표준위도 2
olon = 126.0        ##  기준점 경도
olat = 38.0         ##  기준점 위도
xo = 210 / grid     ##  기준점 X좌표
yo = 675 / grid     ##  기준점 Y좌표
first = 0

if first == 0 :
    PI = math.asin(1.0) * 2.0
    DEGRAD = PI/ 180.0
    RADDEG = 180.0 / PI


    re = Re / grid
    slat1 = slat1 * DEGRAD
    slat2 = slat2 * DEGRAD
    olon = olon * DEGRAD
    olat = olat * DEGRAD

    sn = math.tan(PI * 0.25 + slat2 * 0.5) / math.tan(PI * 0.25 + slat1 * 0.5)
    sn = math.log(math.cos(slat1) / math.cos(slat2)) / math.log(sn)
    sf = math.tan(PI * 0.25 + slat1 * 0.5)
    sf = math.pow(sf, sn) * math.cos(slat1) / sn
    ro = math.tan(PI * 0.25 + olat * 0.5)
    ro = re * sf / math.pow(ro, sn)
    first = 1

def mapToGrid(lat, lon, code = 0 ):
    ra = math.tan(PI * 0.25 + lat * DEGRAD * 0.5)
    ra = re * sf / pow(ra, sn)
    theta = lon * DEGRAD - olon
    if theta > PI :
        theta -= 2.0 * PI
    if theta < -PI :
        theta += 2.0 * PI
    theta *= sn
    x = (ra * math.sin(theta)) + xo
    y = (ro - ra * math.cos(theta)) + yo
    x = int(x + 1.5)
    y = int(y + 1.5)
    return x, y

def gridToMap(x, y, code = 1):
    x = x - 1
    y = y - 1
    xn = x - xo
    yn = ro - y + yo
    ra = math.sqrt(xn * xn + yn * yn)
    if sn < 0.0 :
        ra = -ra
    alat = math.pow((re * sf / ra), (1.0 / sn))
    alat = 2.0 * math.atan(alat) - PI * 0.5
    if math.fabs(xn) <= 0.0 :
        theta = 0.0
    else :
        if math.fabs(yn) <= 0.0 :
            theta = PI * 0.5
            if xn < 0.0 :
                theta = -theta
        else :
            theta = math.atan2(xn, yn)
    alon = theta / sn + olon
    lat = alat * RADDEG
    lon = alon * RADDEG

    return lat, lon




num="105"
url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1/1000/"  #1000개단위
response = requests.get(url)

bikeData1=(response.json()["rentBikeStatus"])["row"]

url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1001/2000/"  #1000개단위
response = requests.get(url)
bikeData2=(response.json()["rentBikeStatus"])["row"]

bikeData=bikeData1+bikeData2 #합침
type(bikeData)
df=pd.DataFrame(bikeData)
df["stationNumber"]=df.stationName.str.split('.').str[0]
df=df.drop(["rackTotCnt","shared","stationId","stationName"],axis=1)  #필요없는 정보 drop
df=df[df["stationNumber"]==num]
strData=str(df.to_json(orient='records',force_ascii=False))
print(df)

url = "http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?"  
servicekey="serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D"
pageNo="pageNo=1"
numOfRows="numOfRows=10"
dataType="dataType=JSON"
base_date="base_date=20200613"
base_time="base_time=2200"
xy=mapToGrid(float(df["stationLatitude"]),float(df["stationLongitude"]))
print(xy)
nx="nx="+str(xy[0])
ny="ny="+str(xy[1])

url=url+servicekey+"&"+pageNo+"&"+numOfRows+"&"+dataType+"&"+base_date+"&"+base_time+"&"+nx+"&"+ny+"&"

response = requests.get(url)
print(url)
print(response)
df=pd.DataFrame(response.json()["response"]["body"]["items"]["item"])
strData+=str(df.to_json(orient='records',force_ascii=False))

strData

df

  parkingBikeTotCnt stationLatitude stationLongitude stationNumber
3                 1     37.55000687     126.91482544           105
(59, 126)
http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20200613&base_time=2200&nx=59&ny=126&
<Response [200]>

   baseDate baseTime category  nx   ny obsrValue
0  20200613     2200      PTY  59  126         0
1  20200613     2200      REH  59  126        65
2  20200613     2200      RN1  59  126         0
3  20200613     2200      T1H  59  126      25.5
4  20200613     2200      UUU  59  126      -2.3
5  20200613     2200      VEC  59  126       113
6  20200613     2200      VVV  59  126         1
7  20200613     2200      WSD  59  126       2.6

In [121]:
import requests
import json
import pandas as pd
import datetime


import http.server
import socketserver


import math
NX = 149            ## X축 격자점 수
NY = 253            ## Y축 격자점 수

Re = 6371.00877     ##  지도반경
grid = 5.0          ##  격자간격 (km)
slat1 = 30.0        ##  표준위도 1
slat2 = 60.0        ##  표준위도 2
olon = 126.0        ##  기준점 경도
olat = 38.0         ##  기준점 위도
xo = 210 / grid     ##  기준점 X좌표
yo = 675 / grid     ##  기준점 Y좌표
first = 0

if first == 0 :
    PI = math.asin(1.0) * 2.0
    DEGRAD = PI/ 180.0
    RADDEG = 180.0 / PI


    re = Re / grid
    slat1 = slat1 * DEGRAD
    slat2 = slat2 * DEGRAD
    olon = olon * DEGRAD
    olat = olat * DEGRAD

    sn = math.tan(PI * 0.25 + slat2 * 0.5) / math.tan(PI * 0.25 + slat1 * 0.5)
    sn = math.log(math.cos(slat1) / math.cos(slat2)) / math.log(sn)
    sf = math.tan(PI * 0.25 + slat1 * 0.5)
    sf = math.pow(sf, sn) * math.cos(slat1) / sn
    ro = math.tan(PI * 0.25 + olat * 0.5)
    ro = re * sf / math.pow(ro, sn)
    first = 1

def mapToGrid(lat, lon, code = 0 ):
    ra = math.tan(PI * 0.25 + lat * DEGRAD * 0.5)
    ra = re * sf / pow(ra, sn)
    theta = lon * DEGRAD - olon
    if theta > PI :
        theta -= 2.0 * PI
    if theta < -PI :
        theta += 2.0 * PI
    theta *= sn
    x = (ra * math.sin(theta)) + xo
    y = (ro - ra * math.cos(theta)) + yo
    x = int(x + 1.5)
    y = int(y + 1.5)
    return x, y

def gridToMap(x, y, code = 1):
    x = x - 1
    y = y - 1
    xn = x - xo
    yn = ro - y + yo
    ra = math.sqrt(xn * xn + yn * yn)
    if sn < 0.0 :
        ra = -ra
    alat = math.pow((re * sf / ra), (1.0 / sn))
    alat = 2.0 * math.atan(alat) - PI * 0.5
    if math.fabs(xn) <= 0.0 :
        theta = 0.0
    else :
        if math.fabs(yn) <= 0.0 :
            theta = PI * 0.5
            if xn < 0.0 :
                theta = -theta
        else :
            theta = math.atan2(xn, yn)
    alon = theta / sn + olon
    lat = alat * RADDEG
    lon = alon * RADDEG

    return lat, lon



def station(num):
    import requests
    import json
    import pandas as pd
    import datetime

    requestedData=dict()

    url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1/1000/"  #1000개단위
    response = requests.get(url)

    bikeData1=(response.json()["rentBikeStatus"])["row"]

    url = "http://openapi.seoul.go.kr:8088/73684163486a776a3132326465784c67/json/bikeList/1001/2000/"  #1000개단위
    response = requests.get(url)
    bikeData2=(response.json()["rentBikeStatus"])["row"]

    bikeData=bikeData1+bikeData2 #합침
    type(bikeData)
    df=pd.DataFrame(bikeData)
    df["stationNumber"]=df.stationName.str.split('.').str[0]
    df=df.drop(["rackTotCnt","shared","stationId","stationName"],axis=1)  #필요없는 정보 drop
    df=df[df["stationNumber"]==num]
    lat=float(df["stationLatitude"])
    log=float(df["stationLongitude"])
    bikeDict=json.loads(df.to_json(orient='records',force_ascii=False))
    requestedData["bike"]=bikeDict
    print(df)

    source = "http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?"  
    servicekey="serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D"
    pageNo="pageNo=1"
    numOfRows="numOfRows=10"
    dataType="dataType=JSON"
    current=datetime.datetime.today()
    while True:
        base_date="base_date="+str(current.strftime("%Y%m%d"))
        base_time="base_time="+str(current.strftime("%H")+"00")
        xy=mapToGrid(lat,log)
        print(xy)
        nx="nx="+str(xy[0])
        ny="ny="+str(xy[1])

        url=source+servicekey+"&"+pageNo+"&"+numOfRows+"&"+dataType+"&"+base_date+"&"+base_time+"&"+nx+"&"+ny+"&"

        response = requests.get(url)

        
        if "body" in response.json()["response"]:
            weatherData=response.json()["response"]["body"]["items"]["item"]
            break
        else:  #현재 데이터가 없는경우 한시간 전 데이터 사용
            current=current-datetime.timedelta(hours=1)
            
        
    print(url)
    print(response)
    df=pd.DataFrame(weatherData)
    weatherDict=json.loads(df.to_json(orient='records',force_ascii=False))
    requestedData["weather"]=weatherDict

    print(lat,log)
    url="https://naveropenapi.apigw.ntruss.com/map-reversegeocode/v2/gc?sourcecrs=epsg:4326&output=json&coords="+str(log)+","+str(lat)
    headers = {"X-NCP-APIGW-API-KEY-ID": "x70mm2ejza", "X-NCP-APIGW-API-KEY": "W81Ozyy4JsnFVOXsWlQALVuEzWQVscmKtpV2oBvF"} 
    response = requests.get(url,headers=headers)

    gu=response.json()["results"][0]["region"]["area2"]["name"]

    url = "http://openapi.seoul.go.kr:8088/614969636b6a776a38316576544973/json/TimeAverageAirQuality/1/25/"
    today=datetime.datetime.today()

    while True:
        response=requests.get(url+today.strftime("%Y%m%d%H")+"00/"+gu)
        if "TimeAverageAirQuality" in response.json():
            break
        else:  #현재 데이터가 없는경우 한시간 전 데이터 사용
            today=(today-datetime.timedelta(hours=1))

    airData=(response.json()["TimeAverageAirQuality"])["row"]
        
    df=pd.DataFrame(airData)
    airDict=json.loads(df.to_json(orient='records',force_ascii=False))
    requestedData["air"]=airDict

    return requestedData


station("105")

  parkingBikeTotCnt stationLatitude stationLongitude stationNumber
3                 1     37.55000687     126.91482544           105
(59, 126)
http://apis.data.go.kr/1360000/VilageFcstInfoService/getUltraSrtNcst?serviceKey=DzjGk9W1qI4vKa0Fi0N0vQDno8SGXaX6JxQD0K9qW0odCdyiGQNUUs%2Ft29A37FEX6HMr30TXyRwOCL1nwny1Cg%3D%3D&pageNo=1&numOfRows=10&dataType=JSON&base_date=20200616&base_time=1700&nx=59&ny=126&
<Response [200]>
37.55000687 126.91482544

{'bike': [{'parkingBikeTotCnt': '1',
   'stationLatitude': '37.55000687',
   'stationLongitude': '126.91482544',
   'stationNumber': '105'}],
 'weather': [{'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'PTY',
   'nx': 59,
   'ny': 126,
   'obsrValue': '0'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'REH',
   'nx': 59,
   'ny': 126,
   'obsrValue': '52'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'RN1',
   'nx': 59,
   'ny': 126,
   'obsrValue': '0'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'T1H',
   'nx': 59,
   'ny': 126,
   'obsrValue': '28'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'UUU',
   'nx': 59,
   'ny': 126,
   'obsrValue': '2.1'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'VEC',
   'nx': 59,
   'ny': 126,
   'obsrValue': '219'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'VVV',
   'nx': 59,
   'ny': 126,
   'obsrValue': '2.6'},
  {'baseDate': '20200616',
   'baseTime': '1700',
   'category': 'WSD',
   'nx': 59,
   'ny': 126,
   'obsrValue': '3.3'}],
 'air': [{'MSRDT': '202006161700',
   'MSRSTE_NM': '마포구',
   'NO2': 0.027,
   'O3': 0.107,
   'CO': 0.6,
   'SO2': 0.003,
   'PM10': 51.0,
   'PM25': 39.0}]}